[Desktop Entry]
Name=Origin
Exec=env WINEPREFIX="/home/kira/Games/titanfall-2" /home/ubuntu/buildbot/runners/wine/lutris-5.6-2-x86_64/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/kira/Games/titanfall-2/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Origin/Origin.lnk
Type=Application
StartupNotify=true
Comment=Origin
Path=/home/kira/Games/titanfall-2/dosdevices/c:/Program Files (x86)/Origin
Icon=2573_Origin.0
StartupWMClass=origin.exe
