[Desktop Entry]
Name=Brigador: Up-Armored Edition
Comment=Play this game on Steam
Exec=steam steam://rungameid/274500
Icon=steam_icon_274500
Terminal=false
Type=Application
Categories=Game;
