[Desktop Entry]
Name=Half-Life 2: Episode One
Comment=Play this game on Steam
Exec=steam steam://rungameid/380
Icon=steam_icon_380
Terminal=false
Type=Application
Categories=Game;
