[Desktop Entry]
Name=Paint the Town Red
Comment=Play this game on Steam
Exec=steam steam://rungameid/337320
Icon=steam_icon_337320
Terminal=false
Type=Application
Categories=Game;
