[Desktop Entry]
Name=Stronghold Crusader Extreme HD
Comment=Play this game on Steam
Exec=steam steam://rungameid/16700
Icon=steam_icon_16700
Terminal=false
Type=Application
Categories=Game;
