[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/x-extension-html;
Exec=env WINEPREFIX="/home/kira/Games/star-wars-jedi-fallen-order/" wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
