[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/gif;
Exec=env WINEPREFIX="/home/kira/Games/star-wars-jedi-fallen-order/" wine start /ProgIDOpen giffile %f
NoDisplay=true
StartupNotify=true
Icon=7596_iexplore.0
